body, html {
    margin:0px; padding:0px;
    width:100%; height:100%;
    font-family: 'Press Start 2P', cursive;  
    overflow:hidden; 
    color: #70CF51; 
}

*:not(body, html) {
    box-sizing: border-box;
    
}

health {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    position: absolute;
    margin-top: 300px;
    font-size: 60px;
}


powerUp {
    width: 100%; 
    height: 100%; 
    text-align: center;
    position: absolute;
    font-size: 60px; 
    margin-top: 465px; 
}

nextGame {
    width: 100%; 
    height: 100%; 
    background-image: url(../img/nextgame.png);
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 1000px;
    margin-top: 500px; 
}

achtergrondShop {
    width: 100%; 
    height: 100%;
    position: absolute;
    background-position: center;
    background-image: url(../img/achtergrond3.png);
    background-size: cover;
    margin: 0; 
    z-index: -1;
}



scoreElement {
    position: absolute;
    display: block;
    margin: 20px; 
    font-size: 30px;
    width: 500px;      
}

healthElement {    
    position: absolute;
    display: block;
    margin-top: 70px; 
    margin-left: 20px; 
    font-size: 30px;
    width: 500px;      
}

powerElement {
    position: absolute;
    display: block;
    margin-top: 120px; 
    margin-left: 20px; 
    font-size: 30px;
    width: 500px;  
}

logo{
    width: 100%; 
    height: 100%; 
    background-image: url(../img/logo.png);
    position: absolute;
    background-repeat: no-repeat;
}
/*jesse's css*/
sign, bord, naam, start, startbackground, n1, n2, n3, n4, n5, n6, backdrak, player, dragon, eyes {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    background-repeat: no-repeat;
}

sign {
    background-image: url(../img/shopsign.png);
    width:902px; height:278px;
    background-size: cover;
}

bord {
    background-image: url(../img/bord2.png);
    width:683px; height:195px;
    background-size: cover;
}

naam {
    background-image: url(../img/naam.png);
    width: 557px; height: 57px;
    background-size: cover;
}

start {
    background-image: url(../img/start.png);
    width: 162px; height: 45px;
    background-size: cover;
}

startbackground {
    background-image: url(../img/background.png);
    width:1440px; height: 900px;
    background-size: cover;
}

backdrak {
    background-image: url(../img/backdrak.jpg);
    width:1440px; height: 900px;
    background-size: cover;
}

player {
    background-image: url(../img/temmer.png);
    width: 272px; height: 283px;
    background-size: cover;
}

dragon {
    background-image: url(../img/dragon.png);
    width: 256px ; height: 256px ;
}

eyes {
    background-image: url(../img/eyes.png);
    width: 463px ; height: 529px;
}

n1 {
    background-image: url(../img/1.png);
    width: 512px ; height: 512px;  
}

n2 {
    background-image: url(../img/2.png);
    width: 512px ; height: 512px;  
}

n3 {
    background-image: url(../img/3.png);
    width: 512px ; height: 512px;  
}

n4 {
    background-image: url(../img/4.png);
    width: 512px ; height: 512px;  
}

n5 {
    background-image: url(../img/5.png);
    width: 512px ; height: 512px;  
}

n6 {
    background-image: url(../img/6.png);
    width: 512px ; height: 512px;  
}